# Ignore Artifacts
Library/Artifacts/
Library/PackageCache/
Library/ArtifactDB
Library/ShaderCache/
Library_OLD/
Library/

# Ignore Logs
Logs/
*.log

# Ignore Build Artifacts
obj/
obj/Debug/

# idea files
.idea/

# Settings
UserSettings/

# Temp
Temp/

todo.txt